// Sandbox just for fun
.big-circles
  .big-circle
  .big-circle
  .big-circle
section#home
  .slide-wrapper
    .smallcircles
      .small-circle
      .small-circle
      .small-circle
      .small-circle
      .small-circle
      .small-circle
    .cover-wrapper.text-center#home-content
      .cover-wrapper__inner
        .cover-wrapper__container
           h1 Maciej Siwanowicz
           p 
             button.btn.btn-cta.btn-cta__green.text-uppercase.trigger(data-toggle='closed') View portfolio
             
 
  section#portfolio.portfolio-wrapper   
    .cover-wrapper.text-center#home
      .cover-wrapper__inner
        .cover-wrapper__container
          .container
            .row
              .col-sm-12
                h1.test-uppercase Portfolio
                p 
                 button.btn.btn-cta.btn-cta__green.text-uppercase.trigger(data-toggle='opened') Back home
                
               
